{% extends 'base.html' %}
 
{% block content %}
<div class="container">
    <div class="row"> 
        <div class="col-12"> 
            <!-- содержимое контейнера --> 
            <h1>Портфолио обучающихся — список групп</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row"> 
        <div class="col-12"> 
            <table class="table">
                <thead>
                  <tr>
                    <th>Факультет</th>
                    <th>Группа</th>
                  </tr>
                </thead>
                <tbody>
                    {% for group in groups -%}
                    <tr>
                        <td>{{group.faculty}}</td>
                        <td><a href="/portfolio/group/{{group.group}}">{{group.group}}</a></td>
                    </tr>
                    {% endfor -%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}