<div class="container">
    <div class="row"> 
        <div class="col-12"> 
            <!-- содержимое контейнера --> 
            <h4>
                <form action="/portfolio/search/" method="POST">
                    <label for="search_lastname"><b>Поиск по фамилии</b></label>
                    <input type="text" placeholder="Введите фамилию" name="search_lastname" required>
                    <button type="submit">Найти</button>
                </form>
            </h4>
        </div>
    </div>
</div>
