{% extends 'base.html' %}
 
{% block content %}
<div class="container">
    <div class="row"> 
        <div class="col-12"> 
            <!-- содержимое контейнера --> 
            <h1>Портфолио студентов группы - {{group_name}}, факультета {{faculty_name}}</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row"> 
        <div class="col-12"> 
            <table class="table">
                <thead>
                  <tr>
                    <th>Факультет</th>
                    <th>Группа</th>
                    <th>ФИО</th>
                  </tr>
                </thead>
                <tbody>
                    {% for user in users -%}
                    <tr>
                        <td>{{user.faculty}}</td>
                        <td>{{user.group}}</td>
                        <td><a href="/portfolio/faculty/{{faculty_name}}/group/{{group_name}}/{{user.login}}">{{user.full_name}}</a></td>
                    </tr>
                    {% endfor -%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}