{% extends 'base.html' %}
 
{% block content %}
<div class="container">
    <div class="row"> 
        <div class="col-12"> 
            <!-- содержимое контейнера --> 
            <h1>Информация о {{userinfo.lastname}} {{userinfo.firstname}}</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row"> 
        <div class="col-2"> 
        </div>
        <div class="col-8">
            <p><b>Фамилия:</b> {{userinfo.lastname}}</p>
            <p><b>Имя Отчество:</b> {{userinfo.firstname}}</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row"> 
        <div class="col-12"> 
            <!-- содержимое контейнера --> 
            <h3>Активность {{userinfo.lastname}} {{userinfo.firstname}} в системе</h3>
        </div>
    </div>
    <div class="row"> 
        <div class="col-12"> 
            <table class="table">
                <thead>
                  <tr>
                    <th>ИД</th>
                    <th>Имя</th>
                    <th>Вид</th>
                    <th>Данные</th>
                    <th>Время</th>
                  </tr>
                </thead>
                <tbody>
                    {% for activity in useractivity -%}
                    <tr>
                        <td>{{activity.course_id}}</td>
                        <td>{{activity.course_name}}</td>
                        <td>{{activity.activity_type}}</td>
                        <td>{{activity.activity_data}}</td>
                        <td>{{activity.activity_datetime}}</td>
                    </tr>
                    {% endfor -%}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="row"> 
        <div class="col-12"> 
            <!-- содержимое контейнера --> 
            <h3><a href="/portfolio/{{userinfo.login}}"> Вернуться назад</a></h3>
        </div>
    </div>
</div>
{% endblock %}
