{% extends 'base.html' %}
 
{% block content %}
<a class="btn btn-primary btn-lg btn-block" href="/portfolio/" role="button">Вернуться назад</a>
<div class="container">
    <div class="row"> 
        <div class="col-12"> 
            <!-- содержимое контейнера --> 
            <h1>{{title}}</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row"> 
        <div class="col-12"> 
            <table class="table">
                <thead>
                  <tr>
                    <th>Факультет</th>
                    <th>Группа</th>
                    <th>ФИО</th>
                  </tr>
                </thead>
                <tbody>
                    {% for user in users -%}
                    <tr>
                        <td>{{user.faculty}}</td>
                        <td>{{user.group}}</td>
                        <td><a href="/portfolio/{{user.login}}">{{user.full_name}}</a></td>
                    </tr>
                    {% endfor -%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}